
.address-container{
    margin-top: 20px;
    background-color: white;
    border: none;
    border-radius: 20px;
    padding:20px;
    font-family: 'montserrat';
}
.address-heading{
    color: var(--Heading-color);

}
.address-description{
    color: var(--para-color-white);

}
.address-card{
    border: 1px solid var(--para-color);
    width: 48%;
    padding: 10px;
    border-radius: 20px;

}
.address-card-content{
    color: var(--average-color);
    font-weight: bold;
    font-size: 20px;
}
.card-lhs{
    color: var(--para-color-white);
    margin: 10px 0;

}
.card-phone{
    color: var(--Heading-color);
    margin-bottom: 20px;

}
.card-btn{
    /* margin: 20px auto; */
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--average-color);
    background:linear-gradient(to right, var(--primary-color),var(--secondary-color));
    color: white;
    font-size: 14px;
    font-family: 'poppins';
}
.address-card-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}