
.mobile-container{
    width: 100%;
    height: 400px;
    margin-top: 100px;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    display: flex;
    justify-content: space-between;
    align-items: center;

}



.mobile-content{
    font-family: 'montserrat';
    margin-right: 100px;

}
.mobile-heading h3{
    font-size: 40px;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}
.mobile-heading p{
    font-size: 20px;
    font-weight: 600;
    color: var(--para-color-white);
    margin-bottom: 20px;
}

.mobile-link img{
    width: 200px;
}
.mobile-link{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playst{
    transform: scale(1.24);
    margin-left: 20px;
}


/* Responsive */


@media only screen and (max-width: 1100px) 
{
    .mobile-container{
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .mobile-content{
        text-align: center;
        margin: 0;
    
    }
    .mobile-heading{
        margin: 0;
    }
   
}

@media only screen and (max-width:700px)
{
    .mobile-image img{
        width: 350px;
        height: auto;
        margin: 30px 0;
    }
    .mobile-container{
        margin-top: 50px;
    }
   .mobile-heading h3{
    font-size: 30px;
    }
   .mobile-heading p{
    font-size: 18px;
    }
    .mobile-link img{
        width: 150px;
    }
    .playst{
        transform: scale(1.1);
    }
    .mobile-link{
        margin-top: 30px;
    }
    
}

@media only screen and (max-width:380px)
{
    .mobile-image img{
        width: 280px;
        height: auto;
        margin: 30px 0;
    }
   .mobile-heading h3{
    font-size: 24px;
    }
   .mobile-heading p{
    font-size: 16px;
    }
    .mobile-link img{
        width: 120px;
    }
    
}